<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>OuS System</title>
    <link rel="icon" type="image/ico" href="favicon.ico" />
    <link href="css/stylesheets.css" rel="stylesheet" type="text/css" />
    <script type='text/javascript' src='js/jquery/jquery.min.js'></script>
    <script type='text/javascript' src='js/jquery/jquery-ui-1.10.3.custom.min.js'></script>
    <script type='text/javascript' src='js/jquery/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='js/jquery/globalize.js'></script>

    <script type='text/javascript' src='js/bootstrap/bootstrap.min.js'></script>
    <script type='text/javascript' src='js/cookies/jquery.cookies.2.2.0.min.js'></script>

    <script type='text/javascript' src='js/mcustomscrollbar/jquery.mCustomScrollbar.concat.min.js'></script>
    <script type='text/javascript' src='js/charts/excanvas.min.js'></script>
    <script type='text/javascript' src='js/charts/jquery.flot.js'></script>
    <script type='text/javascript' src='js/charts/jquery.flot.stack.js'></script>
    <script type='text/javascript' src='js/charts/jquery.flot.pie.js'></script>
    <script type='text/javascript' src='js/charts/jquery.flot.resize.js'></script>

    <script type='text/javascript' src='js/datatables/jquery.dataTables.min.js'></script>

    <script type='text/javascript' src='js/morris/raphael-min.js'></script>
    <script type='text/javascript' src='js/morris/morris.min.js'></script>

    <script type='text/javascript' src='js/sparklines/jquery.sparkline.min.js'></script>

    <script type='text/javascript' src='js/scrollup/jquery.scrollUp.min.js'></script>

    <script type='text/javascript' src='js/plugins.js'></script>
    <script type='text/javascript' src='js/actions.js'></script>
    <script type='text/javascript' src='js/charts.js'></script>

    <script src="js/vue.js"></script>
    <script src="js/httpVueLoader.js"></script>
    <script src="js/vue-router.js"></script>
    <script src="js/vue-session.js"></script>
    <script src="js/axios.min.js"></script>

</head>

<body>
    <div id="app">
        <div id="wrapper" class="sidebar_off">
            <div id="header">
                <div class="wrap">
                    <span class="logo"></span>
                    <div class="buttons">
                        <div class="item">

                        </div>
                    </div>
                </div>
            </div>

            <div id="layout">
                <div id="content">
                    <div class="wrap">
                        <div class="head">
                            <div class="info">
                                <h1>BUSCAR ORDEM DE SERVIÇO</h1>
                                <ul class="breadcrumb">
                                    <li class=""><a href="index.html">Página inicial</a></li>
                                    <li class=""><a href="buscar_os.html">Ordem de serviço</a></li>
                                    <li class="active">Buscar</li>
                                </ul>
                            </div>

                            <div class="side fr">
                                <a href="index.html" class="btn btn-default btn-sm">
                                    <font color="#607387"><i class="i-reply"></i> VOLTAR </font>
                                </a>
                            </div>
                        </div>

                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="block">
                                        <input type="text" class="form-control" name="busca" value=""
                                            placeholder="Pesquisar por modelo" style="width: 400px" v-model="busca">
                                        <button type="button" class="btn btn-primary" value="Buscar"
                                            v-on:click="buscar()" id="buscar">Buscar</button>
                                        <br> <br>
                                        <div class="content np table-sorting">
                                            <table cellpadding="0" cellspacing="0" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th width="10%">
                                                            <center>OS</center>
                                                        </th>
                                                        <th width="30%">
                                                            <center>Cliente</center>
                                                        </th>
                                                        <th width="10">
                                                            <center>Aparelho</center>
                                                        </th>
                                                        <th width="15%">
                                                            <center>Status</center>
                                                        </th>
                                                        <th width="15%">
                                                            <center>Opções</center>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="os in OSs">
                                                        <td>{{os.id}}</td>
                                                        <td>{{os.cliente.nome}}</td>
                                                        <td>{{os.aparelho}}</td>
                                                        <td>
                                                            <center>
                                                                <span v-if="os.status === 'Aberta'"
                                                                    class="label label-info">{{os.status}}</span>
                                                                <span v-if="os.status === 'Concluida'"
                                                                    class="label label-success">{{os.status}}</span>
                                                                <span v-if="os.status === 'Fechada'"
                                                                    class="label label-danger">{{os.status}}</span>
                                                                <span v-if="os.status === 'Orçamento'"
                                                                    class="label label-default">{{os.status}}</span>
                                                                <span v-if="os.status === 'Aguardando'"
                                                                    class="label label-warning">{{os.status}}</span>
                                                            </center>
                                                        </td>
                                                        <td>
                                                            <center>
                                                                <a href="#" class="btn btn-danger btn-xs" type="button"
                                                                    v-on:click="apagarOs(os)"><i class="i-trashcan"></i>
                                                                </a>
                                                                <a href="#" class="btn btn-warning btn-xs" type="button"
                                                                    v-on:click="editarOS(os)"><i class="i-pencil"></i>
                                                                </a>
                                                                <a href="#reg" v-on:click="mostrarOS(os)"
                                                                    data-toggle="modal" class="btn btn-info btn-xs"
                                                                    type="button">
                                                                    Detalhes</a>

                                                                <div class="btn-group">
                                                                    <button class="btn btn-info btn-xs">STATUS</button>
                                                                    <button class="btn btn-info dropdown-toggle btn-xs"
                                                                        data-toggle="dropdown"
                                                                        aria-expanded="false"><span
                                                                            class="caret"></span></button>
                                                                    <ul class="dropdown-menu">
                                                                        <li><a href="#"
                                                                                v-on:click="mudaStatus(os, 'Aberta')">Aberta</a>
                                                                        </li>
                                                                        <li><a href="#"
                                                                                v-on:click="mudaStatus(os, 'Aguardando')">Aguardando</a>
                                                                        </li>
                                                                        <li><a href="#"
                                                                                v-on:click="mudaStatus(os, 'Concluida')">Concluida</a>
                                                                        </li>
                                                                        <li><a href="#"
                                                                                v-on:click="mudaStatus(os, 'Fechada')">Fechada</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </center>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootrstrap default dialog -->
        <div class="modal fade" id="reg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="col-md-11">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h3 class="modal-title" id="myModalLabel">Visualizar OS
                            </h3>

                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">ID ORDEM DE SERVIÇO: {{os.id}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-12" v-if="os.cliente">NOME DO CLIENTE: {{os.cliente.nome}}</div>
                            </div>
                            <div class="row">

                                <div class="col-md-12">APARELHO: {{os.aparelho}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">MARCA: {{os.marca}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">COR DO APARELHO: {{os.corAparelho}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">MODELO: {{os.modelo}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">STATUS: {{os.status}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">DESCRIÇÃO DEFEITO: {{os.descricaoDefeito}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">ITENS INCLUSOS: {{os.itensInclusos}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">SERVIÇO: {{os.servico}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">VALOR: R$ {{os.valor}}</div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var app = new Vue({
            el: "#app",
            data: {
                url: "http://localhost:8080/api/os",
                flag: false,
                funcionario: {},
                OSs: [],
                os: {},
                busca: ''
            },
            created() {
                if (!this.$session.exists()) {
                    location.href = "login.html";
                } else {
                    this.funcionario = JSON.parse(this.$session.get('funcionario'));
                    console.log(this.funcionario);
                    this.flag = true;
                    this.getOSs();
                }
            },
            methods: {
                getOSs: function () {
                    vm = this;
                    axios.get('http://localhost:8080/api/os')
                        .then(function (response) {
                            vm.OSs = response.data;
                        }).catch(function (error) {
                            console.log(error);
                        });

                },
                mostrarOS: function (os) {
                    this.os = os;
                },
                editarOS: function (os) {
                    location.href = "os-editar.html?id=" + os.id;
                },
                mudaStatus: function (os, status) {
                    vm = this;
                    let formData = new FormData();
                    formData.append('idCliente', os.cliente.id);
                    formData.append('aparelho', os.aparelho);
                    formData.append('marca', os.marca);
                    formData.append('corAparelho', os.corAparelho);
                    formData.append('modelo', os.modelo);
                    formData.append('status', status);
                    formData.append('descricaoDefeito', os.descricaoDefeito);
                    formData.append('itensInclusos', os.itensInclusos);
                    formData.append('servico', os.servico);
                    formData.append('valor', os.valor);
                    axios.put('http://localhost:8080/api/os/' + os.id, formData, {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    })
                        .then(function (response) {
                            vm.getOSs();
                        }).catch(function (error) {
                            console.log(error);
                        });
                },
                apagarOs: function (os) {
                    axios.delete('http://localhost:8080/api/os/' + os.id)
                        .then(function (response) {
                            vm.getOSs();
                        }).catch(function (error) {
                            console.log(error);
                        });
                },
                buscar: function () {
                    vm = this;
                    console.log(this.busca);
                    axios.get(this.url + "/search?modelo=" + this.busca).then(function (r) {
                        console.log(r.data);
                        vm.OSs = r.data;
                    }).catch(function (error) {
                        console.log(error);
                    })
                },


                selecionarOs: function (os) {
                    this.novaOs = os;
                }
                // editarOs: function (e) {
                //     e.preventDefault();
                //     this.errors = [];

                //     if (!this.novaOs.cliente.id) {
                //         this.errors.push('Nome obrigatório.');
                //     }
                //     if (!this.novaOs.aparelho) {
                //         this.errors.push('APa obrigatório.');
                //     }
                //     if (!this.novaOs.marca) {
                //         this.errors.push('Telefone 2 obrigatório.');
                //     }
                //     if (!this.novaOs.corAparelho) {
                //         this.errors.push('Estado obrigatório.');
                //     }
                //     if (!this.novaOs.modelo) {
                //         this.errors.push('Cidade obrigatória.');
                //     }
                //     if (!this.novaOs.status) {
                //         this.errors.push('Endereco obrigatório.');
                //     }
                //     if (!this.novaOs.descricaoDefeito) {
                //         this.errors.push('Numero obrigatório.');
                //     }
                //     if (!this.novaOs.itensInclusos) {
                //         this.errors.push('Bairro obrigatório.');
                //     }
                //     if (!this.novaOs.servico) {
                //         this.errors.push('Bairro obrigatório.');
                //     }
                //     if (!this.novaOs.valor) {
                //         this.errors.push('Bairro obrigatório.');
                //     }


                //     if(this.errors.length === 0) {

                //         vm = this;
                //         let formData = new FormData();
                //         formData.append('idCliente', this.novaOs.cliente.id);
                //         formData.append('aparelho', this.novaOs.aparelho);
                //         formData.append('marca', this.novaOs.marca);
                //         formData.append('corAparelho', this.novaOs.corAparelho);
                //         formData.append('modelo', this.novaOs.modelo);
                //         formData.append('status', this.novaOs.status);
                //         formData.append('descricaoDefeito', this.novaOs.descricaoDefeito);
                //         formData.append('itensInclusos', this.novaOs.itensInclusos);
                //         formData.append('servico', this.novaOs.servico);
                //         formData.append('valor', this.novaOs.valor);
                //         axios.put('http://localhost:8080/api/os/' + this.novaOs.id, formData, {
                //             headers: {
                //                 'Content-Type': 'multipart/form-data'
                //             }
                //         }).then(function (response) {
                //             vm.novaOs = {
                //                 cliente.id: "",
                //                 aparelho: "",
                //                 marca: "",
                //                 corAparelho: "",
                //                 modelo: "",
                //                 status: "",
                //                 descricaoDefeito: "",
                //                 itensInclusos: "",
                //                 servico:"",
                //                 valor:""
                //             };
                //             vm.getOSs();
                //         }).catch(function (error) {
                //             console.log(error);
                //         });
                //     }
            }
        });

    </script>
</body>

</html>