<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <title>OuS System</title>
    <link rel="icon" type="image/ico" href="favicon.ico" />

    <link href="css/stylesheets.css" rel="stylesheet" type="text/css" />

    <script type='text/javascript' src='js/jquery/jquery.min.js'></script>
    <script type='text/javascript' src='js/jquery/jquery-ui-1.10.3.custom.min.js'></script>
    <script type='text/javascript' src='js/jquery/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='js/jquery/globalize.js'></script>

    <script type='text/javascript' src='js/bootstrap/bootstrap.min.js'></script>
    <script type='text/javascript' src='js/cookies/jquery.cookies.2.2.0.min.js'></script>

    <script type='text/javascript' src='js/mcustomscrollbar/jquery.mCustomScrollbar.concat.min.js'></script>
    <script type='text/javascript' src='js/charts/excanvas.min.js'></script>
    <script type='text/javascript' src='js/charts/jquery.flot.js'></script>
    <script type='text/javascript' src='js/charts/jquery.flot.stack.js'></script>
    <script type='text/javascript' src='js/charts/jquery.flot.pie.js'></script>
    <script type='text/javascript' src='js/charts/jquery.flot.resize.js'></script>

    <script type='text/javascript' src='js/morris/raphael-min.js'></script>
    <script type='text/javascript' src='js/morris/morris.min.js'></script>

    <script type='text/javascript' src='js/sparklines/jquery.sparkline.min.js'></script>

    <script type='text/javascript' src='js/scrollup/jquery.scrollUp.min.js'></script>

    <script type='text/javascript' src='js/plugins.js'></script>
    <script type='text/javascript' src='js/actions.js'></script>
    <script type='text/javascript' src='js/charts.js'></script>
    <script src="js/vue.js"></script>
    <script src="js/httpVueLoader.js"></script>
    <script src="js/vue-router.js"></script>
    <script src="js/vue-session.js"></script>
    <script src="js/axios.min.js"></script>


</head>

<body>

    <div id="app">
        <div id="wrapper">

            <div id="header">

                <div class="wrap">
                    <span class="logo"></span>
                    <div class="buttons">
                        <div class="item">
                            <a href="index.html" class="btn btn-primary btn-xs">
                                <span class="i-forward"></span>SAIR DO PAINEL
                            </a>
                        </div>
                    </div>

                </div>

            </div>

            <div id="layout">

                <div id="sidebar">

                    <ul class="navigation">
                        <li class="openable open">
                            <a href="#">PAINEL DE CONTROLE</a>
                            <ul>
                                <li class="">
                                    <a href="admin.html">Página Inicial</a>
                                </li>
                                <li class="active">
                                    <a href="funcionario-inserir.html">Cadastrar Funcionários</a>
                                </li>
                                <li class="active">
                                    <a href="funcionario-view.html">Visualizar Funcionários</a>
                                </li>

                            </ul>
                        </li>

                    </ul>

                </div>

                <div id="content">
                    <div class="wrap">
                        <div class="container">

                            <div class="row">
                                <div class="col-md-10">

                                </div>

                                <form class="login__form" autocomplete="off" @submit="cadastrarFuncionario">
                                    <p v-if="errors.length">

                                        <ul>
                                            <li v-for="error in errors">{{ error }}</li>
                                        </ul>
                                    </p>
                                    <div class="col-md-10">
                                        <div class="block">
                                            <div class="content np">
                                                <div class="controls-row">
                                                    <div class="col-md-3">Nome:</div>
                                                    <div class="col-md-5"><input type="text" name="name" value=""
                                                            v-model="novoFuncionario.nome" class="form-control"></div>
                                                    <div class="col-md-4"><span class="help-inline">
                                                            <font color="red"></font>
                                                        </span></div>
                                                </div>
                                                <div class="controls-row">
                                                    <div class="col-md-3">Sobrenome:</div>
                                                    <div class="col-md-5"><input type="text" name="sobrenome" value=""
                                                            v-model="novoFuncionario.sobrenome" class="form-control">
                                                    </div>
                                                    <div class="col-md-4"><span class="help-inline">
                                                            <font color="red"></font>
                                                        </span></div>
                                                </div>
                                                <div class="controls-row">
                                                    <div class="col-md-3">Contato:</div>
                                                    <div class="col-md-5"><input type="text" name="contato" value=""
                                                            v-model="novoFuncionario.contato" class="form-control">
                                                    </div>
                                                    <div class="col-md-4"><span class="help-inline">
                                                            <font color="red"></font>
                                                        </span></div>
                                                </div>
                                                <div class="controls-row">
                                                    <div class="col-md-3">Email:</div>
                                                    <div class="col-md-5"><input type="text" name="email" value=""
                                                            v-model="novoFuncionario.email" class="form-control"></div>
                                                    <div class="col-md-4"><span class="help-inline">
                                                            <font color="red"></font>
                                                        </span></div>
                                                </div>
                                                <div class="controls-row">
                                                    <div class="col-md-3">Senha:</div>
                                                    <div class="col-md-5"><input type="password" id="password"
                                                            name="pass" v-model="novoFuncionario.senha"
                                                            class="form-control"></div>
                                                    <div class="col-md-4"><span class="help-inline">
                                                            <font color="red"></font>
                                                        </span></div>
                                                </div>
                                                <div class="controls-row">
                                                    <div class="col-md-3">Cargo:</div>
                                                    <div class="col-md-5">
                                                        <select class="form-control" name="cargo"
                                                            v-model="novoFuncionario.cargo">
                                                            <option>Selecione</option>
                                                            <option value="Administrador">Administrador ( Acesso total
                                                                ao
                                                                sistema )</option>
                                                            <option value="Atendente">Atendente</option>
                                                            <option value="Tecnico">Tecnico</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-4"><span class="help-inline">
                                                            <font color="red"></font>
                                                        </span></div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <br>
                                        <button class="btn btn-primary" name="btn-cadastrar" type="submit">FINALIZAR
                                            CADASTRO</button>
                                    </div>
                                </form>

                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                flag: false,
                errors: [],
                novoFuncionario: {
                    nome: "",
                    sobrenome: "",
                    contato: "",
                    email: "",
                    senha: "",
                    cargo: "",

                }
            },
            created() {
                if (!this.$session.exists()) {
                    location.href = "login.html";
                }
            },
            methods: {
                cadastrarFuncionario: function (e) {
                    e.preventDefault();
                    // Verificar campos
                    this.errors = [];

                    if (!this.novoFuncionario.nome) {
                        this.errors.push('Nome obrigatório.');
                    }
                    if (!this.novoFuncionario.sobrenome) {
                        this.errors.push('Sobrenome obrigatório.');
                    }
                    if (!this.novoFuncionario.contato) {
                        this.errors.push('Contato obrigatório.');
                    }
                    if (!this.novoFuncionario.email) {
                        this.errors.push('Email obrigatório.');
                    }
                    if (!this.novoFuncionario.senha) {
                        this.errors.push('Senha obrigatória.');
                    }
                    if (!this.novoFuncionario.cargo) {
                        this.errors.push('Cargo obrigatório.');
                    }

                    if (this.errors.length === 0) {
                        vm = this;
                        let formData = new FormData();
                        formData.append('nome', this.novoFuncionario.nome);
                        formData.append('sobrenome', this.novoFuncionario.sobrenome);
                        formData.append('contato', this.novoFuncionario.contato);
                        formData.append('email', this.novoFuncionario.email);
                        formData.append('senha', this.novoFuncionario.senha);
                        formData.append('cargo', this.novoFuncionario.cargo);


                        axios.post('http://localhost:8080/api/funcionarios', formData, {
                            headers: {
                                'Content-Type': 'multipart/form-data'
                            }
                        }).then(function (response) {
                            vm.novoFuncionario = {
                                nome: "",
                                sobrenome: "",
                                contato: "",
                                email: "",
                                senha: "",
                                cargo: "",

                            };
                        }).catch(function (error) {
                            console.log(error);
                        });
                    }
                }
            }
        });
    </script>
</body>


</html>